body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

#dl-logo {
    margin-top: 50px;
    margin-bottom: 50p;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#todo {
    text-align: center;
}
